/* colors 
 primo blue: #3F87B9
 segundo greenish: #37b6ab
 some grey: #7f7f7f*
 bg2: #F5EFEC
 text: #435460 */
/*============Reset =============*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

:root{
  --primo: #3F87B9;
  --segundo: #37b6ab;
  --txt: #435460;
  --bg2: #f5efec;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url(../images/site.png); */
  background-repeat: no-repeat;
  /* height: 2000vh; */
  color: #7f7f7f;
}
.container{
  height: 100%;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
}
h2,
h3, h4 {
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 0.6em;
  color: var(--txt);
  font-family: 'Lora', serif;
  font-weight: 400;
}
h2 {
  font-size: 2.5em;
}
p {
  line-height: 1.5em;
  font-size: 1.5em;
}

section {
  padding: 80px 0;
}
/*======== Flex boxes =================*/
.flex-h-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.flex-h-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-h-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.flex-v-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.flex-v-evenly-start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.flex-v-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-v-center-between {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-v-center-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*========= Header ==========*/

#top-bar {
  /* background-color: rgba(0, 255, 255, 0.582); */
  background-color: white;
  border-bottom: 1px solid rgb(180, 180, 180);
  color: var(--segundo);
  font-weight: 400;
  font-size: 1.125em;
  letter-spacing: .5px;
}

#top-bar .navbar{
  height: 100px;;
}
.sticky-top{
  min-height: 70px;
}
.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  letter-spacing: normal;
  color: var(--primo);
  font-weight: bold;
}

.all-btn-link {
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 90px;
  color: white;
  font-size: 1.6rem;
  white-space: nowrap;
  /* display: inline-block; */
}
.make-inquery-btn {
  /* background-color: red; */
  background-color: var(--segundo);
}

ul li{
  text-transform: uppercase;
}

/*============== Hero ================*/
.bg-img {
  color: white;
}
.bg-img h2,
.bg-img h3,
.bg-img p {
  color: white;
}
#hero {
  /*later change the height*/
  min-height: 76vh;
  /* background-color: rgba(255, 228, 196, 0.4); */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 255, 0.3)), url(../images/free/pexels-alexandr-podvalny-1172000-fhd.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#hero h2 {
  font-size: 4em;
  margin-bottom: 0.2em;
  /* color: white; */
}
#hero p {
  font-size: 1.5em;
  line-height: 1.4;
  margin-bottom: 2em;
  /* color: white; */
  max-width: 850px;
}
.get-in-touch-btn {
  padding: 1em 2.5em;
  border: 2px solid white;
  border-radius: 90px;
}

/*=============== services==============*/
#services {
  /* height: 340px; */
  /* background-color: rgba(255, 255, 0, 0.246); */
  background-color: #3f87b9;
  padding: 61px 0;
  color: white;
}
#services h3 {
  color: white;
}
#services p {
  color: white;
  font-size: 1em;
}
#services figure {
  /*flexBox class*/
  text-align: center;
  width: 200px;
  color: var(--primo);
}
.services-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-icon i{
  font-size: 2.5em;
}

figure div {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: white;
  margin: auto;
  margin-bottom: 23px;
}
figure h2 {
  margin-bottom: 0.7em;
}
/*------------- Mission Section ------------------*/
#mission {
  /* background-color: rgba(0, 255, 255, 0.423); */
  padding: 45px 0;
  background-image: url(../images/me.webp);
  background-repeat: no-repeat;
  background-position: right 970px top -100px;
  background-size: auto 150%;
}

#mission blockquote {
  /*centered because of padding*/
  position: relative;
  text-align: left;
  /* background-color: rgba(0, 0, 255, 0.644); */
  padding: 3.2em;
  margin: 0px;
  max-width: 650px;
  margin-left: auto;
  margin-right: 0px;
}
#mission h2 {
  font-size: 3em;
  color: var(--txt);
}

#mission p:first-of-type {
  margin-bottom: 2em;
}
#mission p+p{
  font-weight: 600;
}
#mission p+p::after{
  content: '';
  background-image: url("../images/jatsignature.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 10em;
  height: 3.2em;
  vertical-align: middle;
}
/* Welcome */
#welcome {
  /* background-color: rgba(127, 255, 212, 0.5); */
  text-align: center;
  background-color: var(--bg2)
}


#welcome p {
  font-size: 1em;
}

#welcome h3 {
  font-size: 1.5em;
}

#welcome figcaption a {
  display: block;
  text-transform: uppercase;
  color: var(--segundo);
}
#welcome .card{
  border: none;
  background-color: inherit;
}

.view-services {
  background-color: var(--segundo);
  display: inline-block;
  color: white;
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: 0.6em;
}
/*================ easy===================*/
#easy {
  background-image: linear-gradient(to right, rgb(63, 135, 185, 0.8), rgba(55, 182, 171, 0.05)),
    url(../images/free/shutterstock_479909611free-fhd.webp);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 650px;
  background-color:  var(--primo);
  
}
@media (max-width: 760px){
  #easy{
    min-height: 500px;
  }
}


.easy-btn {
  /* background-color: greenyellow; */
  background-color: var(--segundo);
  border: 2px solid;
}
/*======== how we care ==============*/
/* #how-we-care {
  margin-bottom: 375px;
  
} */
#how-we-care .row img{
  padding-right: 0;
  padding-left: 0;
  height: auto;
}
#how-we-care h2 {
  text-align: center;

}


#how-we-care article {
  padding: 75px;
  background-color: var(--bg2);
}
#how-we-care h3 {
  font-size: 2.5em;
  color: #3174b4;
}
#how-we-care p:fist-child {
  font-size: 1.5em;
}
.outer-bar{
  width: 100%;
  background-color: white;
  height: 10px;
  border-radius: 70px;
  margin-bottom: 0.7em;
}
.inner-bar{
  width: 67%;
  height: 100%;
  background-color: #37b6ab;
  border-radius: 70px;
}


.arrow {
  width: 25%;
  height: 25%;
  border: 2px solid white;
  border-right: transparent;
  border-bottom: transparent;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#arrow-container {
  background-color: var(--segundo);
  width: 50px;
  height: 50px;
  margin: auto;
  position: fixed;
  right: 20px;
  bottom: 60px;
  border-radius: 90px;
  cursor: pointer;
  caret-color: transparent;
  /*have the button appearing and disappearing
  /* display: none; */
  /*have the button cuming up.*/
  transition: all .6s ease;
  
}
.arrow-hidden{
  opacity: 0;
  transform: translateY(100px)
}
.arrow-visible{
  opacity: 1;
  transform: translateY(0px);
}

/*------------------ testemonies -----------*/

#testemonies {
  /* transform: translate3d(-1170px, 0px, 0px); */
    /* transition-duration: 0ms; */
    /*is faster in most browsers
    how to hold text with my hand and scroll it cursor: grab; cursor: grabbing*/
  background-image: linear-gradient(to right, rgb(63, 135, 185, 0.9) 30%, rgba(255, 255, 255, 0.0) 75%), url(../images/free/shutterstock_1103094794-2free-fhd.webp);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.205);
  height: 707px;
  /* margin-bottom: 828px; */
}
.quote-mrk {
  font-size: 8em;
  margin: 0;
  line-height: 0.8;
  margin-bottom: -10px;
}
#testemonies p {
  max-width: 750px;
  margin-bottom: 1.5em;
}
#testemonies p:last-of-type {
  font-style: italic;
}
.testemonies-dot {
  width: 11px;
  height: 11px;
  margin: 0 4px;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.4);
  box-sizing: content-box;
  vertical-align: middle;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.testemonies-dot:hover {
  border: 2px solid white;
  /* background-color: rgba(14, 13, 18, 0); */
  cursor: pointer;
}

#why-us {
  text-align: center;
  /* background-color: rgba(255, 0, 0, 0.233); */
}
#why-us h3, #why-us h4, #why-us p {
  color: white;
}
#why-us p{
  font-size: 1em;
}

.flip-cont{
  position: relative;
  display: bock;
  background-color: transparent;
  perspective: 2000px;
}
.flip-outer{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform-style: preserve-3d;
  transition: 0.6s
}
.flip-front{
  position: absolute;
  width: 100%;
  height: 100%;
}
.flip-front::after{
  content: '';
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}
.img-1{
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  left:0;
  position: absolute;
}
.flip-front-txt{
  position: absolute;
  text-align: center;
  width: 100%;
  /* height: 100%; */
  top: 50%;
  transform: translateY(-50%);
  padding: 2em 5em;
  font-size: 1.2em;
  z-index: 10;
}
.img-2{
  width: 100%;
  height: auto;
  display: block;
  visibility: hidden;
  position: relative;
}
.flip-back{
  position: absolute;
  background-color: var(--segundo);
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  color: white;
  z-index: 20;
}
.flip-back h4::after{
  content: '';
  display: block;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 10px auto;
  border-top-left-radius: 200%;
  border-bottom-right-radius: 200%;
}

.flip-cont:hover .flip-outer{
  transform: rotateY(180deg);
}



.img-txt {
  position: absolute;
  color: white;
}

/*========== Map =============*/
iframe{
  width: 100%;
  height: 422px;
}

figure{
  max-width: 100%;
  width: 100%;
}
figure img{
  width: 100%;
  margin-bottom: 20px;
  /* background-color: white; */
  /* padding: 15px; */
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

}
.flip-container:hover .flip-inner{
  transform: rotateY(180deg);
}
/*=========== Footer =============*/
footer .container{
  line-height: 60px;
  border-top: 1px solid var(--txt)
}